<h1>Iniciar sesión</h1>

<%= form_with url: login_path, method: :post do |f| %>
  <div>
    <%= f.label :email %><br>
    <%= f.email_field :email, required: true %>
  </div>

  <div>
    <%= f.label :password %><br>
    <%= f.password_field :password, required: true %>
  </div>

  <div>
    <%= f.submit "Ingresar" %>
  </div>

  <p> Or create your count <%= link_to "new", new_user_path %></p>
<% end %>
