<div class="tasks index-page">
  <h3 class="display-5">Listing Tasks</h3>
  <br>
  <div class="">
    <div class="card-body ">
      <table class="table table-borderless">
        <thead>
          <tr>
            <th>Name</th>
            <th>Category</th>
            <th>Description</th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @tasks.each do |task| %>
            <tr>
              <td><%= task.name %></td>
              <td><%= task.category.name %></td>
              <td><%= task.description %></td>
              <td>
                <%= link_to "Show", task, class: 'btn btn-outline-info btn-sm' %>
                <%= link_to "Edit", edit_task_path(task), class: 'btn btn-outline-warning btn-sm' %>
              </td>  
              <td> <%= link_to "Delete", task, 'data-turbo-method': :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-outline-danger btn-sm' %></td>
            </tr>
            <tr>
              <td colspan="3">
                <div class="task-dates">
                  <b><%= task.owner.email %></b>
                  <%= "| #{l(task.created_at, format: :short)}" %>
                </div>
                <hr>
                <br>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table> 
      <br>
      <%= link_to "Add new", new_task_path, class: 'btn btn-dark' %>
    </div>
    <div class="task-participants"></div>
    <br>
  </div>
</div>
