<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Tasks OrganizerApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= javascript_importmap_tags %>
    <%= stylesheet_link_tag "application", media: "all", "data-turbo-track": "reload" %>
  </head>
  <body>
    <header>
    <% if current_user %> 
      <%= render 'layouts/navbar' %>
    <% end %>
    </header>
    <div class="container mt-4 pb-4">
    <%= yield %>
    </div> 
  </body>
</html>
